.alt {
  display: flex;
  position: absolute;
  padding: 0.2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  border: $btn-border-width solid transparent;
  border-radius: $alt-border-radius;
  box-shadow: $alt-box-shadow;
  .alt-content {
    flex: 1;
    max-width: 280px;
    white-space: normal;
    word-break: break-all;
    > h5 {
      padding: 0;
      margin: 0;
    }
    > span {
      font-size: 1rem;
    }
  }
  .alt-close {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    > span {
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      font-size: 1.4rem;
      line-height: 1.4rem;
      text-align: center;
      border-radius: 50%;
      transform: rotate(-45deg);
      color: $white;
      cursor: pointer;
    }
    span:hover {
      transform: rotate(-45deg) scale(1.2);
    }
  }
}
.alt-default {
  @include alt-color($primary);
}
.alt-success {
    @include alt-color($success);
}
.alt-warning {
    @include alt-color($warning);
}
.alt-danger {
    @include alt-color($danger);
}
